In [1]:
# import neccessary libraries
import pandas as pd
import  requests
from  bs4 import BeautifulSoup

## 1) wikipedia

In [2]:
def wiki_scrap(link):
    
    # scrapping data from webpage with BeautifulSoup
    url = requests.get(link)
    soup = BeautifulSoup(url.text, 'html.parser')
    story = soup.find_all(['h1', 'h2','h3'])
    
    # printing the data
    for i in story:
        print(i.text)

In [3]:
wiki_scrap('https://en.wikipedia.org')

Main Page
Welcome to Wikipedia
From today's featured article
Did you know ...
In the news
On this day
Today's featured picture
Other areas of Wikipedia
Wikipedia's sister projects
Wikipedia languages
Navigation menu

Personal tools


Namespaces


Views


Search


Navigation


Contribute


Tools


Print/export


In other projects


Languages

## 2) IMDB’s Top Movies

In [4]:
def top_movies(link):
    # initializing the lists
    titles = []
    years = []
    ratings = []
    
    # extracting data from webpage with BeautifulSoup
    url = requests.get(link)
    soup = BeautifulSoup(url.text, 'html.parser')
    top_100 = soup.find_all('td',class_="titleColumn", limit=100)
    
    # appending the data to various lists
    for i in top_100:
        titles_extract = i.find_all('a')
        titles.append([i.text for i in titles_extract])
    for x in soup.find_all('span', class_="secondaryInfo", limit=100):
        years.append(x.text[1:-1])
    for y in soup.find_all('td', class_="ratingColumn imdbRating", limit=100):
        ratings.append(y.text.strip())
        
    # imputing the data into a data frame
    df = pd.DataFrame({'Titles':titles, 'Year':years, 'Rating':ratings})
    df.index = df.index + 1
    return df

In [5]:
top_movies('https://www.imdb.com/chart/top/')

                         Titles  Year Rating
1    [The Shawshank Redemption]  1994    9.2
2               [The Godfather]  1972    9.2
3             [The Dark Knight]  2008    9.0
4      [The Godfather: Part II]  1974    9.0
5                [12 Angry Men]  1957    8.9
..                          ...   ...    ...
96               [Citizen Kane]  1941    8.3
97                          [M]  1931    8.3
98         [North by Northwest]  1959    8.3
99               [Idi i smotri]  1985    8.2
100                   [Vertigo]  1958    8.2

[100 rows x 3 columns]

## 3) Top Indian Movies

In [6]:
def top_indian(link):
    
    # initializing vaarious lists
    titles = []
    years = []
    ratings = []
    
    # extracting data from webpage with BeautifulSoup
    url = requests.get(link)
    soup = BeautifulSoup(url.text, 'html.parser')
    top_100 = soup.find_all('td',class_="titleColumn", limit=100)
    
    # appending the data to various lists
    for i in top_100:
        titles_extract = i.find_all('a')
        titles.append([i.text for i in titles_extract])
    for x in soup.find_all('span', class_="secondaryInfo", limit=100):
        years.append(x.text[1:-1])
    for y in soup.find_all('td', class_="ratingColumn imdbRating", limit=100):
        ratings.append(y.text.strip())
        
    # imputing the data into a data frame
    df = pd.DataFrame({'Titles':titles, 'Year':years, 'Rating':ratings})
    df.index = df.index + 1
    return df

In [7]:
top_indian('https://www.imdb.com/india/top-rated-indian-movies/')

                            Titles  Year Rating
1     [Rocketry: The Nambi Effect]  2022    8.5
2                     [Anbe Sivam]  2003    8.4
3                       [Jai Bhim]  2021    8.4
4                        [Nayakan]  1987    8.4
5                        [Golmaal]  1979    8.4
..                             ...   ...    ...
96                   [Ustad Hotel]  2012    8.0
97    [The Legend of Bhagat Singh]  2002    8.0
98                     [Virumandi]  2004    8.0
99   [Baahubali 2: The Conclusion]  2017    8.0
100                       [Angoor]  1982    8.0

[100 rows x 3 columns]

## 4) Presidents

In [8]:
def former_presidents(link):
    
    # initializing various lists
    names = []
    service_term = []
    url = requests.get(link)
    
    # extracting data from webpage with BeautifulSoup
    content = BeautifulSoup(url.text, 'html.parser')
    names_extract = content.find_all('h3')
    serv_term = content.find('ul', class_='listing cf')
    links = serv_term.find_all('a')
    
    # appending the data to various lists
    for i in links:
        i.extract()
    spans = serv_term.find_all('span')
    for x in spans:
        x.extract()
    for terms in serv_term.find_all('p'):
        service_term.append(terms.text)
    for name in names_extract:
        names.append(name.text)
    for ele in service_term:
        if ele == '':
            service_term.remove(ele)
            
    # imputing the data into a data frame
    df = pd.DataFrame({'Names': names, 'Service Term': service_term})
    df.index = df.index + 1
    return df

In [9]:
former_presidents('https://presidentofindia.nic.in/former-presidents.htm')

,Names,Service Term
1,Shri Ram Nath Kovind (birth - 1945),"25 July, 2017 to 25 July, 2022"
2,Shri Pranab Mukherjee (1935-2020),"25 July, 2012 to 25 July, 2017"
3,Smt Pratibha Devisingh Patil (birth - 1934),"25 July, 2007 to 25 July, 2012"
4,DR. A.P.J. Abdul Kalam (1931-2015),"25 July, 2002 to 25 July, 2007"
5,Shri K. R. Narayanan (1920 - 2005),"25 July, 1997 to 25 July, 2002"
6,Dr Shankar Dayal Sharma (1918-1999),"25 July, 1992 to 25 July, 1997"
7,Shri R Venkataraman (1910-2009),"25 July, 1987 to 25 July, 1992"
8,Giani Zail Singh (1916-1994),"25 July, 1982 to 25 July, 1987"
9,Shri Neelam Sanjiva Reddy (1913-1996),"25 July, 1977 to 25 July, 1982"
10,Dr. Fakhruddin Ali Ahmed (1905-1977),"24 August, 1974 to 11 February, 1977"
11,Shri Varahagiri Venkata Giri (1894-1980),"3 May, 1969 to 20 July, 1969 and 24 August, 1..."
12,Dr. Zakir Husain (1897-1969),"13 May, 1967 to 3 May, 1969"
13,Dr. Sarvepalli Radhakrishnan (1888-1975),"13 May, 1962 to 13 May, 1967"
14,Dr. Rajendra Prasad (1884-1963),"26 January, 1950 to 13 May, 1962"

## 5) ICC Men Ranking

### A) Top 10 ODI

In [10]:
def men_ranking(link1):
    
    # intializing various lists
    teams = []
    matches = []
    points =[]
    ratings = []
    
    # extracting data from webpage with BeautifulSoup
    url = requests.get(link1)
    content = BeautifulSoup(url.text, 'html.parser')
    team = content.find_all('span', class_='u-hide-phablet') 
    match = content.find_all('td', class_='rankings-block__banner--matches') + content.find_all('td', class_='table-body__cell u-center-text')
    point = content.find_all('td', class_='rankings-block__banner--points') + content.find_all('td', class_="table-body__cell u-center-text")
    rating = content.find_all('td', class_='rankings-block__banner--rating u-text-right') + content.find_all('td', class_='table-body__cell u-text-right rating')
    
    # appending the data to various lists
    for a in point:
        if len(a.text.strip()) >= 3:
            points.append(a.text)
    for a in match:
        if len(a.text.strip()) < 3:
            matches.append(a.text)
    for a in team:
        teams.append(a.text.strip())
    for a in rating:
        ratings.append(a.text.strip())
        
     # imputing the data into a data frame   
    df = pd.DataFrame({'Teams':teams, 'Matches':matches, 'Points':points, 'Ratings':ratings})
    df.index = df.index + 1
    return df

In [11]:
men_ranking('https://www.icc-cricket.com/rankings/mens/team-rankings/test')

           Teams Matches Points Ratings
1      Australia      19  2,439     128
2          India      29  3,318     114
3   South Africa      25  2,606     104
4        England      43  4,449     103
5    New Zealand      27  2,704     100
6       Pakistan      23  2,111      92
7      Sri Lanka      23  1,916      83
8    West Indies      25  1,988      80
9     Bangladesh      22  1,047      48
10      Zimbabwe       6    148      25

### B) Top 10 Batsmen

In [12]:
def batsmen(link):
    
    # intializing various lists
    players = []
    teams1 = []
    ratings1 = []
    
    # extracting data from webpage with BeautifulSoup
    url = requests.get(link)
    content = BeautifulSoup(url.text, 'html.parser') 
    player = content.find_all('div',class_="rankings-block__banner--name-large") + content.find_all('td', class_="table-body__cell rankings-table__name name", limit=9)
    team = content.find_all('div', class_="rankings-block__banner--nationality") + content.find_all('span', class_="table-body__logo-text", limit=9)
    rating = content.find_all('div', class_="rankings-block__banner--rating") + content.find_all('td', class_="table-body__cell rating", limit=9)
    
    # appending the data to various lists
    for a in rating:
        ratings1.append(a.text.strip())
    for a in player:
        players.append(a.text.strip())
    for a in team:
        teams1.append(a.text[0:5].strip())
        
    # imputing the data into a data frame
    df = pd.DataFrame({'Players': players, 'Teams': teams1, 'Ratings': ratings1})
    df.index = df.index + 1
    return df

In [13]:
batsmen('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/batting')

                  Players Teams Ratings
1              Babar Azam   PAK     890
2   Rassie van der Dussen    SA     789
3         Quinton de Kock    SA     784
4             Imam-ul-Haq   PAK     779
5             Virat Kohli   IND     744
6            Rohit Sharma   IND     740
7          Jonny Bairstow   ENG     732
8            David Warner   AUS     725
9             Ross Taylor    NZ     701
10            Steve Smith   AUS     697

### C) Top 10 Bowlers

In [14]:
def bowlers(link):
    
    # intializing various lists
    players2 = []
    teams2 = []
    ratings2 = []
    
    # extracting data from webpage with BeautifulSoup
    url = requests.get(link)
    content3 = BeautifulSoup(url.text, 'html.parser') 
    player = content3.find_all('div',class_="rankings-block__banner--name-large") + content3.find_all('td', class_="table-body__cell rankings-table__name name", limit=9)
    team = content3.find_all('div', class_="rankings-block__banner--nationality") + content3.find_all('span', class_="table-body__logo-text", limit=9)
    rating = content3.find_all('div', class_="rankings-block__banner--rating") + content3.find_all('td', class_="table-body__cell rating", limit=9)
    
    # appending the data to various lists
    for a in rating:
        ratings2.append(a.text.strip())
    for a in player:
        players2.append(a.text.strip())
    for a in team:
        teams2.append(a.text[0:5].strip())
        
    # imputing the data into a data frame
    df = pd.DataFrame({'Players': players2, 'Teams': teams2, 'Ratings': ratings2})
    df.index = df.index + 1
    return df

In [15]:
bowlers('https://www.icc-cricket.com/rankings/mens/player-rankings/odi/bowling')

             Players Teams Ratings
1        Trent Boult    NZ     775
2     Josh Hazlewood   AUS     718
3   Mujeeb Ur Rahman   AFG     676
4     Jasprit Bumrah   IND     662
5     Shaheen Afridi   PAK     661
6      Mohammad Nabi   AFG     657
7       Mehedi Hasan   BAN     655
8         Matt Henry    NZ     654
9     Mitchell Starc   AUS     653
10       Rashid Khan   AFG     651


## 6) ICC Women Ranking

### A) Top 10 ODI

In [18]:
def women_ranking(link1):
    
    # intializing various lists
    teams_w = []
    matches_w = []
    points_w =[]
    ratings_w = []
    
    # extracting data from webpage with BeautifulSoup
    url = requests.get(link1)
    content = BeautifulSoup(url.text, 'html.parser')
    team = content.find_all('span', class_='u-hide-phablet',limit=10) 
    match = content.find_all('td', class_='rankings-block__banner--matches') + content.find_all('td', class_='table-body__cell u-center-text')
    point = content.find_all('td', class_='rankings-block__banner--points') + content.find_all('td', class_="table-body__cell u-center-text")
    rating = content.find_all('td', class_='rankings-block__banner--rating u-text-right') + content.find_all('td', class_='table-body__cell u-text-right rating',limit=9)
    
    # appending the data to various lists
    for a in point:
        if len(a.text.strip()) >= 3:
            points_w.append(a.text)
    for a in match:
        if len(a.text.strip()) < 3:
            matches_w.append(a.text)
    for a in team:
        teams_w.append(a.text.strip())
    for a in rating:
        ratings_w.append(a.text.strip())
        
    # imputing the data into a data frame
    df = pd.DataFrame({'Teams':teams_w, 'Matches':matches_w[0:10], 'Points':points_w, 'Ratings':ratings_w})
    df.index = df.index + 1
    return df

In [19]:
women_ranking('https://www.icc-cricket.com/rankings/womens/team-rankings/odi')

           Teams Matches Points Ratings
1      Australia      29  4,837     167
2   South Africa      35  4,157     119
3        England      36  4,205     117
4          India      35  3,732     107
5    New Zealand      33  3,302     100
6    West Indies      32  2,864      90
7     Bangladesh      12    930      78
8       Pakistan      30  1,962      65
9        Ireland      11    516      47
10     Sri Lanka      11    495      45

### B) Top 10 Batting

In [20]:
def batswomen(link):
    
    # intializing various lists
    players_w = []
    teams_w1 = []
    ratings_w1 = []
    url = requests.get(link)
    
    # extracting data from webpage with BeautifulSoup
    content = BeautifulSoup(url.text, 'html.parser') 
    player = content.find_all('div',class_="rankings-block__banner--name-large") + content.find_all('td', class_="table-body__cell rankings-table__name name", limit=9)
    team = content.find_all('div', class_="rankings-block__banner--nationality") + content.find_all('span', class_="table-body__logo-text", limit=9)
    rating = content.find_all('div', class_="rankings-block__banner--rating") + content.find_all('td', class_="table-body__cell rating", limit=9)
    
    # appending the data to various lists
    for a in rating:
        ratings_w1.append(a.text.strip())
    for a in player:
        players_w.append(a.text.strip())
    for a in team:
        teams_w1.append(a.text[0:5].strip())
        
    # imputing the data into a data frame
    df = pd.DataFrame({'Players': players_w, 'Teams': teams_w1, 'Ratings': ratings_w1})
    df.index = df.index + 1
    return df

In [21]:
batswomen('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/batting')

                Players Teams Ratings
1          Alyssa Healy   AUS     785
2           Beth Mooney   AUS     749
3        Natalie Sciver   ENG     740
4       Laura Wolvaardt    SA     732
5           Meg Lanning   AUS     710
6        Rachael Haynes   AUS     701
7       Smriti Mandhana   IND     698
8     Amy Satterthwaite    NZ     681
9      Harmanpreet Kaur   IND     662
10  Chamari Athapaththu    SL     655

### C) Top 10 All Rounder

In [22]:
def allrounder(link):
    
    # intializing various lists
    players_w2 = []
    teams_w2 = []
    ratings_w2 = []
    
    # extracting data from webpage with BeautifulSoup
    url = requests.get(link)
    content = BeautifulSoup(url.text, 'html.parser') 
    player = content.find_all('div',class_="rankings-block__banner--name-large") + content.find_all('td', class_="table-body__cell rankings-table__name name", limit=9)
    team = content.find_all('div', class_="rankings-block__banner--nationality") + content.find_all('span', class_="table-body__logo-text", limit=9)
    rating = content.find_all('div', class_="rankings-block__banner--rating") + content.find_all('td', class_="table-body__cell rating", limit=9)
    
    # appending the data to various lists
    for a in rating:
        ratings_w2.append(a.text.strip())
    for a in player:
        players_w2.append(a.text.strip())
    for a in team:
        teams_w2.append(a.text[0:5].strip())
        
    # imputing the data into a data frame
    df = pd.DataFrame({'Players': players_w2, 'Teams': teams_w2, 'Ratings': ratings_w2})
    df.index = df.index + 1
    return df

In [23]:
allrounder('https://www.icc-cricket.com/rankings/womens/player-rankings/odi/all-rounder')

              Players Teams Ratings
1        Ellyse Perry   AUS     374
2      Natalie Sciver   ENG     372
3      Marizanne Kapp    SA     349
4     Hayley Matthews    WI     339
5         Amelia Kerr    NZ     336
6       Deepti Sharma   IND     271
7    Ashleigh Gardner   AUS     270
8       Jess Jonassen   AUS     246
9      Jhulan Goswami   IND     219
10  Sophie Ecclestone   ENG     217

## 7) CNBC Details

In [24]:
def cnbc_news(link):
    
    # intializing various lists
    headlines = []
    times = []
    links = []
    
    # extracting data from webpage with BeautifulSoup
    url = requests.get(link)
    content = BeautifulSoup(url.text, 'html.parser')
    headline = content.find_all('a', class_='LatestNews-headline')
    time = content.find_all('time', class_="LatestNews-timestamp")
    
    # appending the data to various lists
    for i in headline:
        headlines.append(i.text)
    for i in time:
        times.append(i.text)
    for i in headline:
        links.append(i['href'])
        
    # imputing the data into a data frame
    df = pd.DataFrame({'Healines': headlines, 'Timestamp': times, 'Newslink': links})
    df.index = df.index + 1
    return df

In [25]:
cnbc_news('https://www.cnbc.com/world/?region=world')

,Healines,Timestamp,Newslink
1,New minimum tax could hit Berkshire Hathaway a...,34 Min Ago,https://www.cnbc.com/2022/09/25/new-minimum-ta...
2,This market is not the dot-com crash or the fi...,46 Min Ago,https://www.cnbc.com/2022/09/25/cramer-this-ma...
3,Atlanta Fed President Bostic expects job losse...,1 Hour Ago,https://www.cnbc.com/2022/09/25/atlanta-fed-pr...
4,British Prime Minister to seek negotiated solu...,2 Hours Ago,https://www.cnbc.com/2022/09/25/british-prime-...
5,'The Woman King' shows why the box office need...,2 Hours Ago,https://www.cnbc.com/2022/09/25/the-woman-king...
6,Zelenskyy on Putin's threat of nuclear weapons...,3 Hours Ago,https://www.cnbc.com/2022/09/25/zelenskyy-on-p...
7,These are the top 10 best family-friendly U.S....,3 Hours Ago,https://www.cnbc.com/2022/09/25/opendoor-surve...
8,The 3 biggest signs of 'passive aggressive' an...,3 Hours Ago,https://www.cnbc.com/2022/09/25/the-3-biggest-...
9,"What Kroger, Walmart, Target learned from Chin...",4 Hours Ago,https://www.cnbc.com/2022/09/25/what-kroger-wa...
10,How this 31-year-old got fired and re-hired at...,4 Hours Ago,https://www.cnbc.com/2022/09/25/this-millennia...
11,These stable value stocks are holding up this ...,4 Hours Ago,https://www.cnbc.com/2022/09/25/these-stable-v...
12,Market rout has muni bonds looking attractive....,4 Hours Ago,https://www.cnbc.com/2022/09/25/market-rout-ha...
13,These are the 6 best business books of the year,5 Hours Ago,https://www.cnbc.com/2022/09/25/the-6-best-bus...
14,Meet the most powerful Hollywood player you mi...,5 Hours Ago,https://www.cnbc.com/2022/09/25/bryan-lourd-ho...
15,Pumpkin spice latte popularity comes down to '...,5 Hours Ago,https://www.cnbc.com/2022/09/25/what-pumpkin-s...
16,Why Mark Cuban says he’s not ready to retire a...,5 Hours Ago,https://www.cnbc.com/2022/09/25/mark-cuban-say...
17,Italy poised for hard-right leader as country ...,11 Hours Ago,https://www.cnbc.com/2022/09/25/italy-poised-f...
18,"3 rules for a successful open relationship, ac...",24 Hours Ago,https://www.cnbc.com/2022/09/24/three-rules-fo...
19,Biden administration awards $1.5 billion to fi...,"September 24, 2022",https://www.cnbc.com/2022/09/24/biden-administ...
20,Top 10 cities with the best pizzerias worldwid...,"September 24, 2022",https://www.cnbc.com/2022/09/24/top-10-cities-...
21,Black Girls in Trader Joe’s creator shares her...,"September 24, 2022",https://www.cnbc.com/2022/09/24/easy-meals-for...
22,"Want to raise strong, resilient kids? Create '...","September 24, 2022",https://www.cnbc.com/2022/09/24/how-to-raise-r...
23,The airline race for a breakthrough climate ch...,"September 24, 2022",https://www.cnbc.com/2022/09/24/how-airlines-p...
24,'Queer Eye's Karamo Brown on the morning routi...,"September 24, 2022",https://www.cnbc.com/2022/09/24/queer-eyes-kar...
25,These 7 states have the least air pollution in...,"September 24, 2022",https://www.cnbc.com/2022/09/24/vermont-new-me...
26,New York is now No. 1 port in a tipping point ...,"September 24, 2022",https://www.cnbc.com/2022/09/24/new-york-now-n...
27,Analysts have 'high conviction' that these sto...,"September 24, 2022",https://www.cnbc.com/2022/09/24/analysts-name-...
28,Feared stock market bottom retest is now underway,"September 24, 2022",https://www.cnbc.com/2022/09/24/feared-stock-m...
29,The No. 1 best city to retire isn't in Florida...,"September 24, 2022",https://www.cnbc.com/2022/09/24/wallethub-top-...
30,The perils and promise of quantum computing ar...,"September 24, 2022",https://www.cnbc.com/2022/09/24/quantum-invest...

## 8) Most Downloaded AI Articles

In [26]:
def ai_papers(link):
    
    # intializing various lists
    titles = []
    authors = []
    dates = []
    links = []
    
    # extracting data from webpage with BeautifulSoup
    url = requests.get(link)
    content = BeautifulSoup(url.text, 'html.parser')
    title = content.find_all('h2', class_="sc-1qrq3sd-1 MKjKb sc-1nmom32-0 sc-1nmom32-1 hqhUYH ebTA-dR")
    author = content.find_all('span', class_="sc-1w3fpd7-0 pgLAT")
    date = content.find_all('span', class_="sc-1thf9ly-2 bKddwo")
    link = content.find_all('a', class_="sc-5smygv-0 nrDZj")
    
    # appending the data to various lists
    for i in title:
        titles.append(i.text)
    for i in author:
        authors.append(i.text)
    for i in date:
        dates.append(i.text)
    for i in link:
        links.append(i['href'])
        
    # imputing the data into a data frame
    df = pd.DataFrame({'Paper Title': titles, 'Authors': authors, 'Date Published': dates, 'Paper Link': links})
    df.index = df.index + 1
    return df

In [27]:
ai_papers('https://www.journals.elsevier.com/artificial-intelligence/most-downloaded-articles')

,Paper Title,Authors,Date Published,Paper Link
1,Reward is enough,"Silver, David, Singh, Satinder, Precup, Doina,...",October 2021,https://www.sciencedirect.com/science/article/...
2,Making sense of raw input,"Evans, Richard, Bošnjak, Matko and 5 more",October 2021,https://www.sciencedirect.com/science/article/...
3,Law and logic: A review from an argumentation ...,"Prakken, Henry, Sartor, Giovanni",October 2015,https://www.sciencedirect.com/science/article/...
4,Creativity and artificial intelligence,"Boden, Margaret A.",August 1998,https://www.sciencedirect.com/science/article/...
5,Artificial cognition for social human–robot in...,"Lemaignan, Séverin, Warnier, Mathieu and 3 more",June 2017,https://www.sciencedirect.com/science/article/...
6,Explanation in artificial intelligence: Insigh...,"Miller, Tim",February 2019,https://www.sciencedirect.com/science/article/...
7,Making sense of sensory input,"Evans, Richard, Hernández-Orallo, José and 3 more",April 2021,https://www.sciencedirect.com/science/article/...
8,Conflict-based search for optimal multi-agent ...,"Sharon, Guni, Stern, Roni, Felner, Ariel, Stur...",February 2015,https://www.sciencedirect.com/science/article/...
9,Between MDPs and semi-MDPs: A framework for te...,"Sutton, Richard S., Precup, Doina, Singh, Sati...",August 1999,https://www.sciencedirect.com/science/article/...
10,The Hanabi challenge: A new frontier for AI re...,"Bard, Nolan, Foerster, Jakob N. and 13 more",March 2020,https://www.sciencedirect.com/science/article/...
11,Evaluating XAI: A comparison of rule-based and...,"van der Waa, Jasper, Nieuwburg, Elisabeth, Cre...",February 2021,https://www.sciencedirect.com/science/article/...
12,Argumentation in artificial intelligence,"Bench-Capon, T.J.M., Dunne, Paul E.",October 2007,https://www.sciencedirect.com/science/article/...
13,Algorithms for computing strategies in two-pla...,"Bošanský, Branislav, Lisý, Viliam and 3 more",August 2016,https://www.sciencedirect.com/science/article/...
14,Multiple object tracking: A literature review,"Luo, Wenhan, Xing, Junliang and 4 more",April 2021,https://www.sciencedirect.com/science/article/...
15,Selection of relevant features and examples in...,"Blum, Avrim L., Langley, Pat",December 1997,https://www.sciencedirect.com/science/article/...
16,A survey of inverse reinforcement learning: Ch...,"Arora, Saurabh, Doshi, Prashant",August 2021,https://www.sciencedirect.com/science/article/...
17,Explaining individual predictions when feature...,"Aas, Kjersti, Jullum, Martin, Løland, Anders",September 2021,https://www.sciencedirect.com/science/article/...
18,A review of possible effects of cognitive bias...,"Kliegr, Tomáš, Bahník, Štěpán, Fürnkranz, Joha...",June 2021,https://www.sciencedirect.com/science/article/...
19,Integrating social power into the decision-mak...,"Pereira, Gonçalo, Prada, Rui, Santos, Pedro A.",December 2016,https://www.sciencedirect.com/science/article/...
20,“That's (not) the output I expected!” On the r...,"Riveiro, Maria, Thill, Serge",September 2021,https://www.sciencedirect.com/science/article/...
21,Explaining black-box classifiers using post-ho...,"Kenny, Eoin M., Ford, Courtney, Quinn, Molly, ...",May 2021,https://www.sciencedirect.com/science/article/...
22,Algorithm runtime prediction: Methods & evalua...,"Hutter, Frank, Xu, Lin, Hoos, Holger H., Leyto...",January 2014,https://www.sciencedirect.com/science/article/...
23,Wrappers for feature subset selection,"Kohavi, Ron, John, George H.",December 1997,https://www.sciencedirect.com/science/article/...
24,Commonsense visual sensemaking for autonomous ...,"Suchan, Jakob, Bhatt, Mehul, Varadarajan, Srik...",October 2021,https://www.sciencedirect.com/science/article/...
25,"Quantum computation, quantum theory and AI","Ying, Mingsheng",February 2010,https://www.sciencedirect.com/science/article/...

## 9) Dineout Details

In [28]:
def dineout_det(link):
    
    # initializing various lists
    names = []
    location = []
    rating = []
    img_link = []
    
    # scrapping data from webpaage with BeautifulSoup
    url = requests.get(link)
    content = BeautifulSoup(url.text, 'html.parser')
    name = content.find_all('h4', class_="_1jbOb")
    locat = content.find_all('p', class_="_1jbOb")
    rat = content.find_all('div', class_="kGUdK _1oTbl")
    img = content.find_all('img', class_="_1zyl5 lazy-img no-img")
    
    # appending the data into various lists
    for i in name:
        names.append(i.text)
    for i in locat:
        location.append(i.text)
    for i in rat:
        rating.append(i.text)
    for i in img:
        img_link.append(i['data-src'])
        
    # imputing the data into a data frame
    df = pd.DataFrame({'Name': names, 'Location': location, 'Rating': rating, 'Image Link': img_link})
    return df

In [29]:
dineout_det('https://www.dineout.co.in')

,Name,Location,Rating,Image Link
0,Connaught Clubhouse Microbrewery,"Connaught Place, Central Delhi",4.3,https://im1.dineout.co.in/images/uploads/resta...
1,38 Barracks,"Connaught Place, Central Delhi",4.3,https://im1.dineout.co.in/images/uploads/resta...
2,The Luggage Room By Sandoz,"Connaught Place, Central Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
3,Master Of Malts,"Connaught Place, Central Delhi",4.1,https://im1.dineout.co.in/images/uploads/resta...

## 10) Google Scholar

In [30]:
def goog_scholar(link):
    
    # intializing various lists
    pubs = []
    h5_i = []
    h5_m = []
    ranks = []
    
    # extracting data from webpage with BeautifulSoup
    url = requests.get(link)
    content = BeautifulSoup(url.text, 'html.parser')
    pub = content.find_all('td', class_="gsc_mvt_t")
    h5i = content.find_all('a', class_="gs_ibl gsc_mp_anchor")
    h5m = content.find_all('span', class_="gs_ibl gsc_mp_anchor")
    rank = content.find_all('td', class_="gsc_mvt_p")
    
    # appending the data to various lists
    for i in pub:
        pubs.append(i.text)
    for i in h5i:
        h5_i.append(i.text)
    for i in h5m:
        h5_m.append(i.text)
    for i in rank:
        ranks.append(i.text)
        
    # imputing the data into a data frame
    df = pd.DataFrame({'Rank': ranks,'Publication': pubs, 'h5-index': h5_i, 'h5-median': h5_m}).set_index('Rank')
    return df

In [31]:
goog_scholar('https://scholar.google.com/citations?view_op=top_venues&hl=en')

                                            Publication h5-index h5-median
Rank
1.                                               Nature      444       667
2.                  The New England Journal of Medicine      432       780
3.                                              Science      401       614
4.    IEEE/CVF Conference on Computer Vision and Pat...      389       627
5.                                           The Lancet      354       635
...                                                 ...      ...       ...
96.                        Journal of Business Research      145       233
97.                                    Molecular Cancer      145       209
98.                                             Sensors      145       201
99.                               Nature Climate Change      144       228
100.                    IEEE Internet of Things Journal      144       212

[100 rows x 3 columns]