In [1]:
pip install Selenium

Collecting Selenium
  Downloading selenium-4.5.0-py3-none-any.whl (995 kB)
Collecting trio~=0.17
  Downloading trio-0.22.0-py3-none-any.whl (384 kB)
Requirement already satisfied: urllib3[socks]~=1.26 in c:\users\acer\anaconda3\lib\site-packages (from Selenium) (1.26.4)
Collecting certifi>=2021.10.8
  Downloading certifi-2022.9.24-py3-none-any.whl (161 kB)
Collecting trio-websocket~=0.9
  Downloading trio_websocket-0.9.2-py3-none-any.whl (16 kB)
Requirement already satisfied: cffi>=1.14 in c:\users\acer\anaconda3\lib\site-packages (from trio~=0.17->Selenium) (1.14.5)
Requirement already satisfied: async-generator>=1.9 in c:\users\acer\anaconda3\lib\site-packages (from trio~=0.17->Selenium) (1.10)
Requirement already satisfied: idna in c:\users\acer\anaconda3\lib\site-packages (from trio~=0.17->Selenium) (2.10)
Collecting exceptiongroup>=1.0.0rc9
  Downloading exceptiongroup-1.0.0rc9-py3-none-any.whl (12 kB)
Requirement already satisfied: sortedcontainers in c:\users\acer\anaconda3\lib\site-packages (from trio~=0.17->Selenium) (2.3.0)
Requirement already satisfied: attrs>=19.2.0 in c:\users\acer\anaconda3\lib\site-packages (from trio~=0.17->Selenium) (20.3.0)
Requirement already satisfied: sniffio in c:\users\acer\anaconda3\lib\site-packages (from trio~=0.17->Selenium) (1.2.0)
Collecting outcome
  Downloading outcome-1.2.0-py2.py3-none-any.whl (9.7 kB)
Requirement already satisfied: pycparser in c:\users\acer\anaconda3\lib\site-packages (from cffi>=1.14->trio~=0.17->Selenium) (2.20)
Collecting wsproto>=0.14
  Downloading wsproto-1.2.0-py3-none-any.whl (24 kB)
Requirement already satisfied: PySocks!=1.5.7,<2.0,>=1.5.6 in c:\users\acer\anaconda3\lib\site-packages (from urllib3[socks]~=1.26->Selenium) (1.7.1)
Collecting h11<1,>=0.9.0
  Downloading h11-0.14.0-py3-none-any.whl (58 kB)
Installing collected packages: outcome, h11, exceptiongroup, wsproto, trio, trio-websocket, certifi, Selenium
  Attempting uninstall: certifi
    Found existing installation: certifi 2020.12.5
    Uninstalling certifi-2020.12.5:
      Successfully uninstalled certifi-2020.12.5
Successfully installed Selenium-4.5.0 certifi-2022.9.24 exceptiongroup-1.0.0rc9 h11-0.14.0 outcome-1.2.0 trio-0.22.0 trio-websocket-0.9.2 wsproto-1.2.0
Note: you may need to restart the kernel to use updated packages.

ERROR: pip's dependency resolver does not currently take into account all the packages that are installed. This behaviour is the source of the following dependency conflicts.
conda-repo-cli 1.0.4 requires pathlib, which is not installed.
anaconda-project 0.9.1 requires ruamel-yaml, which is not installed.

In [4]:
# importing relevant libraries
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException
from selenium.webdriver.common.by import By
import time

## 1. Data Analyst

In [54]:
driver = webdriver.Chrome(r"C:/Users/ACER/Downloads/chromedriver_win32/chromedriver.exe")

In [55]:
driver.get('https://www.naukrigulf.com/')

In [56]:
search_link = driver.find_element(By.CLASS_NAME, 'caret')
search_link.click()

In [57]:
designation = driver.find_element(By.XPATH, '//*[@id="qsbKey"]')
designation.send_keys('Data Analyst')

In [58]:
location = driver.find_element(By.XPATH, '//*[@id="qsbLoc"]')
location.send_keys('Dubai')

In [59]:
search = driver.find_element(By.XPATH, '/html/body/div[1]/div[2]/div/div/div/div[1]/form/input')
search.click()

In [67]:
job_title = []
job_location = []
company_name = []
experience_required = []

In [68]:
title_tags = driver.find_elements(By.XPATH,'//*[@class="designation-title"]')
for i in title_tags[0:10]:
    title = i.text
    job_title.append(title)
    
location_tags = driver.find_elements(By.XPATH,'//*[@class="info-loc "]')
for i in location_tags[0:10]:
    location = i.text
    job_location.append(location)
    
name_tags = driver.find_elements(By.XPATH,'//*[@class="info-org"]')
for i in name_tags[0:10]:
    name = i.text
    company_name.append(name)
    
exp_tags = driver.find_elements(By.XPATH,'//*[@class="info-exp "]')
for i in exp_tags[0:10]:
    exp_required = i.text
    experience_required.append(exp_required)

In [69]:
df = pd.DataFrame({'Job Title': job_title, 'Location':job_location, 'Company Name': company_name, 'Experience Required': experience_required})
df

,Job Title,Location,Company Name,Experience Required
0,Data Analyst with Oracle NetSuite software exp...,Dubai - United Arab Emirates,Anna Chamb Mohideen General Trading Co. L.L.C.,1 - 6 Years
1,Senior Data Analyst,Dubai - United Arab Emirates,Connect Resources,5 - 10 Years
2,Senior Data Analyst,Dubai - United Arab Emirates,Deriv Services Ltd,4 - 10 Years
3,Data Analyst,Dubai - United Arab Emirates,Santechture,5 - 6 Years
4,Healthcare Data Analyst,Dubai - United Arab Emirates,Santechture,1 - 3 Years
5,Assistant Manager Data Analyst CIB,Dubai - United Arab Emirates,Data Direct Group,8 - 11 Years
6,Data Analyst (Ecommerce),Dubai - United Arab Emirates,Al Futtaim Private Company (LLC),2 - 3 Years
7,Data Analyst - Digital Marketing,Dubai - United Arab Emirates,Energy Solutions International Consulting DMCC,1 - 3 Years
8,Data Analyst,Dubai - United Arab Emirates,Santechture,5 - 6 Years
9,DATA ANALYST,"Abu Dhabi , Dubai - United Arab Emirates",Global DevSlam,5 - 10 Years

## 2. Data Scientist

In [70]:
driver = webdriver.Chrome(r"C:/Users/ACER/Downloads/chromedriver_win32/chromedriver.exe")

In [71]:
driver.get('https://www.naukrigulf.com/')

In [72]:
search_link = driver.find_element(By.CLASS_NAME, 'caret')
search_link.click()

In [73]:
designation = driver.find_element(By.XPATH, '//*[@id="qsbKey"]')
designation.send_keys('Data Scientist”')

In [74]:
location = driver.find_element(By.XPATH, '//*[@id="qsbLoc"]')
location.send_keys('Dubai')

In [75]:
search = driver.find_element(By.XPATH, '/html/body/div[1]/div[2]/div/div/div/div[1]/form/input')
search.click()

In [76]:
job_title = []
job_location = []
company_name = []

In [77]:
title_tags = driver.find_elements(By.XPATH,'//*[@class="designation-title"]')
for i in title_tags[0:10]:
    title = i.text
    job_title.append(title)
    
location_tags = driver.find_elements(By.XPATH,'//*[@class="info-loc "]')
for i in location_tags[0:10]:
    location = i.text
    job_location.append(location)
    
name_tags = driver.find_elements(By.XPATH,'//*[@class="info-org"]')
for i in name_tags[0:10]:
    name = i.text
    company_name.append(name)

In [78]:
df = pd.DataFrame({'Job Title': job_title, 'Location':job_location, 'Company Name': company_name})
df

,Job Title,Location,Company Name
0,Data Scientist,Dubai - United Arab Emirates,Abu Dhabi Islamic Bank
1,Data Scientist (Ecommerce background),Dubai - United Arab Emirates,Rak Bank
2,"Data Scientist (Banking, Credit Risk and SAS p...",Dubai - United Arab Emirates,Rak Bank
3,Senior Data Scientist - R/Python,Dubai - United Arab Emirates,careem
4,Data Scientist,Dubai - United Arab Emirates,RapidData Technologies LLC
5,Data Scientist– Analytics Team,Dubai - United Arab Emirates,Global DevSlam
6,Data Scientist - Credit Risk,Dubai - United Arab Emirates,Energy Solutions International Consulting DMCC
7,Senior Data Scientist,Dubai - United Arab Emirates,Archcorp Architectural Engineering
8,Data Scientist,Dubai - United Arab Emirates,Archcorp Architectural Engineering
9,DATA SCIENTIST,Dubai - United Arab Emirates,careem

## 3. Data Scientist Using Salary Filter

In [97]:
driver = webdriver.Chrome(r"C:/Users/ACER/Downloads/chromedriver_win32/chromedriver.exe")

In [98]:
driver.get('https://www.naukrigulf.com/')

In [99]:
search_link = driver.find_element(By.CLASS_NAME, 'caret')
search_link.click()

In [100]:
designation = driver.find_element(By.XPATH, '//*[@id="qsbKey"]')
designation.send_keys('Data Scientist')

In [101]:
location = driver.find_element(By.XPATH, '//*[@id="qsbLoc"]')
location.send_keys('Dubai')

In [104]:
search = driver.find_element(By.XPATH, '/html/body/div[1]/div[2]/div/div/div/div[1]/form/input')
search.click()

In [105]:
filter_arrow = driver.find_element(By.XPATH, '//*[@id="filterctc"]/span')
filter_arrow.click()

In [106]:
salary_filter = driver.find_element(By.XPATH, '//*[@id="filterctc"]/ul/li[4]/label/span[1]')
salary_filter.click()

In [107]:
refine = driver.find_element(By.XPATH, '//*[@id="searchResult"]/div/section[2]/div[1]/form/div[3]/button')
refine.click()

In [119]:
job_title = []
job_location = []
company_name = []
experience_required = []

In [120]:
title_tags = driver.find_elements(By.XPATH,'//*[@class="designation-title"]')
for i in title_tags[0:10]:
    title = i.text
    job_title.append(title)
    
location_tags = driver.find_elements(By.XPATH,'//*[@class="info-loc "]') + driver.find_elements(By.XPATH, '//*[@class="info-loc has-logo"]')
for i in location_tags[0:10]:
    location = i.text
    job_location.append(location)
    
name_tags = driver.find_elements(By.XPATH,'//*[@class="info-org"]')
for i in name_tags[0:10]:
    name = i.text
    company_name.append(name)
    
exp_tags = driver.find_elements(By.XPATH,'//*[@class="info-exp "]') + driver.find_elements(By.XPATH, '//*[@class="info-exp has-logo"]')
for i in exp_tags[0:10]:
    exp_required = i.text
    experience_required.append(exp_required)

In [122]:
df = pd.DataFrame({'Job Title': job_title, 'Location':job_location, 'Company Name': company_name, 'Experience Required': experience_required})
df

,Job Title,Location,Company Name,Experience Required
0,AI Lead | Dubai | Permanent Role | Immediate J...,Dubai - United Arab Emirates,RapidData Technologies LLC,4 - 9 Years
1,Coders HQ DevSlam Talent Connect Area,Dubai - United Arab Emirates,Global DevSlam,0 - 0 Years
2,Business Intelligence Consultant,"Abu Dhabi , Dubai - United Arab Emirates",Energy Solutions International Consulting DMCC,5 - 10 Years
3,Full Stack Software Developer,"Abu Dhabi , Dubai , Sharjah - United Arab Emir...",Archcorp Architectural Engineering,0 - 2 Years

## 4. Sunglasses

In [210]:
driver = webdriver.Chrome(r"C:/Users/ACER/Downloads/chromedriver_win32/chromedriver.exe")

In [211]:
driver.get('https://www.flipkart.com/')

In [212]:
close_pop = driver.find_element(By.XPATH, '/html/body/div[2]/div/div/button')
close_pop.click()

In [213]:
search = driver.find_element(By.XPATH, '//*[@class="_3704LK"]')
search.send_keys('sunglasses')

In [214]:
search_link = driver.find_element(By.XPATH, '//*[@class="L0Z3Pu"]')
search_link.click()

In [215]:
brand = []
description = []
price = []

In [216]:
ibeta = 0
while ibeta <= 3:
    bran_tags = driver.find_elements(By.XPATH,'//*[@class="_2WkVRV"]')
    for i in bran_tags:
        brand_ = i.text
        brand.append(brand_)

    description_tags = driver.find_elements(By.XPATH,'//*[@class="IRpwTa"]')
    for i in description_tags:
        description_ = i.text
        description.append(description_)

    price_tags = driver.find_elements(By.XPATH,'//*[@class="_30jeq3"]')
    for i in price_tags:
        price_ = i.text
        price.append(price_)
        
    next_ = driver.find_element(By.XPATH, '//*[@class="_1LKTO3"]')
    next_.click()
    time.sleep(7)
    ibeta += 1

In [217]:
df = pd.DataFrame({'Brand': brand[0:100], 'Description':description[0:100], 'Price': price[0:100]})
df

                Brand                                        Description Price
0           ROYAL SON  UV Protection Rectangular, Retro Square Sungla...  ₹424
1               NuVew              UV Protection Cat-eye Sunglasses (56)  ₹425
2            Fastrack      UV Protection Wayfarer Sunglasses (Free Size)  ₹799
3             DEIXELS  Polarized, UV Protection, Riding Glasses Wayfa...  ₹249
4   SHAAH COLLECTIONS                UV Protection Round Sunglasses (54)  ₹179
..                ...                                                ...   ...
95       Singco India  Riding Glasses, UV Protection Clubmaster, Wayf...  ₹321
96  SHAAH COLLECTIONS              UV Protection Aviator Sunglasses (54)  ₹179
97  SHAAH COLLECTIONS   UV Protection Rectangular Sunglasses (Free Size)  ₹179
98          New Specs   UV Protection Rectangular Sunglasses (Free Size)  ₹264
99          ROYAL SON  Polarized, UV Protection Retro Square Sunglass...  ₹674

[100 rows x 3 columns]

## 5. Iphone 11 Reviews

In [159]:
driver = webdriver.Chrome(r"C:/Users/ACER/Downloads/chromedriver_win32/chromedriver.exe")

In [160]:
driver.get('https://www.flipkart.com/')

In [161]:
close_pop = driver.find_element(By.XPATH, '/html/body/div[2]/div/div/button')
close_pop.click()

In [162]:
search = driver.find_element(By.XPATH, '//*[@class="_3704LK"]')
search.send_keys('iphone 11')

In [163]:
search_link = driver.find_element(By.XPATH, '//*[@class="L0Z3Pu"]')
search_link.click()

In [169]:
phone_link = driver.find_element(By.XPATH, '//*[@class="_396cs4 _3exPp9"]')
phone_link.click()

In [170]:
driver.switch_to.window(driver.window_handles[1])
review_link = driver.find_element(By.XPATH, '//*[@class="_3UAT2v _16PBlm"]')
review_link.click()

In [176]:
rating = []
review_summ = []
full_review = []

In [179]:
ibeta = 0
while ibeta <= 20:
    rating_tags = driver.find_elements(By.XPATH,'//*[@class="_3LWZlK _1BLPMq"]')
    for i in rating_tags:
        rating_ = i.text
        rating.append(rating_)

    review_sum_tags = driver.find_elements(By.XPATH,'//*[@class="_2-N8zT"]')
    for i in review_sum_tags:
        review_s = i.text
        review_summ.append(review_s)

    review_tags = driver.find_elements(By.XPATH,'//*[@class="t-ZTKy"]')
    for i in review_tags:
        reviews_ = i.text
        full_review.append(reviews_)
        
    next_ = driver.find_element(By.XPATH, '//*[@class="_1LKTO3"]')
    next_.click()
    
    time.sleep(7)
    ibeta += 1

In [181]:
df = pd.DataFrame({'Rating':rating[0:100], 'Review Summary':review_summ[0:100], 'Full Review': full_review[0:100]})
df

,Rating,Review Summary,Full Review
0,5,Perfect product!,Value for money❤️❤️\nIts awesome mobile phone ...
1,5,Wonderful,Finally purchased iphone 11 instead of XR and ...
2,4,Delightful,Always an iPhone fan. Lot of hidden features i...
3,5,Simply awesome,Really satisfied with the Product I received.....
4,5,Value-for-money,I'm Really happy with the product\nDelivery wa...
...,...,...,...
95,5,Value-for-money,I'm Really happy with the product\nDelivery wa...
96,5,Perfect product!,Amazing phone with great cameras and better ba...
97,5,Best in the market!,Great iPhone very snappy experience as apple k...
98,5,Worth every penny,Previously I was using one plus 3t it was a gr...
99,4,Highly recommended,What a camera .....just awesome ..you can feel...

## 6. Sneakers

In [150]:
driver = webdriver.Chrome(r"C:/Users/ACER/Downloads/chromedriver_win32/chromedriver.exe")

In [151]:
driver.get('https://www.flipkart.com/')

In [152]:
close_pop = driver.find_element(By.XPATH, '/html/body/div[2]/div/div/button')
close_pop.click()

In [153]:
search = driver.find_element(By.XPATH, '//*[@class="_3704LK"]')
search.send_keys('sneakers')

In [154]:
search_link = driver.find_element(By.XPATH, '//*[@class="L0Z3Pu"]')
search_link.click()

In [155]:
brand = []
description = []
price = []
discount = []

In [157]:
ibeta = 0
while ibeta <= 3:
    bran_tags = driver.find_elements(By.XPATH,'//*[@class="_2WkVRV"]')
    for i in bran_tags:
        brand_ = i.text
        brand.append(brand_)

    description_tags = driver.find_elements(By.XPATH,'//*[@class="IRpwTa"]')
    for i in description_tags:
        description_ = i.text
        description.append(description_)

    price_tags = driver.find_elements(By.XPATH,'//*[@class="_30jeq3"]')
    for i in price_tags:
        price_ = i.text
        price.append(price_)
    disc_tags = driver.find_elements(By.XPATH,'//*[@class="_3Ay6Sb"]')
    for i in disc_tags:
        discount_ = i.text
        discount.append(discount_)
        
    next_ = driver.find_element(By.XPATH, '//*[@class="_1LKTO3"]')
    next_.click()
    
    time.sleep(7)
    ibeta += 1

In [158]:
df = pd.DataFrame({'Brand': brand[0:100], 'Description':description[0:100], 'Price': price[0:100], 'Discount': discount[0:100]})
df

,Brand,Description,Price,Discount
0,Xylus,Training & Gym & Walking shoes Sneakers For Men,₹472,52% off
1,RapidBox,Stylish & Trendy Sneakers For Men,₹610,38% off
2,BRUTON,Modern Trendy Shoes Sneakers For Men,₹470,63% off
3,RED TAPE,Sneakers For Men,"₹1,499",70% off
4,BRUTON,Lightweight Pack Of 1 Trendy Sneakers Sneakers...,₹259,56% off
...,...,...,...,...
95,Mozafia,Sneakers For Men,₹999,50% off
96,K- FOOTLANCE,Sneakers For Men,₹499,50% off
97,BRUTON,"Skypy-31 Walking Shoes,Training Shoes,Sneakers...",₹636,74% off
98,'Trends',Sneakers For Men,₹359,72% off
99,RapidBox,Bounder-Mirkle Sneakers For Men,₹610,38% off

## 7. Black Shoes From Myntra

In [186]:
driver = webdriver.Chrome(r"C:/Users/ACER/Downloads/chromedriver_win32/chromedriver.exe")

In [187]:
driver.get('https://www.myntra.com/shoes')

In [188]:
color_filter = driver.find_element(By.XPATH, '//*[@class="common-customCheckbox"]')
color_filter.click()

In [193]:
price_filter = driver.find_element(By.XPATH, '/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[5]/ul/li[2]/label')
price_filter.click()

In [206]:
brand = []
description = []
price = []

In [207]:
ibeta = 0
while ibeta <= 3:
    bran_tags = driver.find_elements(By.XPATH,'//*[@class="product-brand"]')
    for i in bran_tags:
        brand_ = i.text
        brand.append(brand_)

    description_tags = driver.find_elements(By.XPATH,'//*[@class="product-product"]')
    for i in description_tags:
        description_ = i.text
        description.append(description_)

    price_tags = driver.find_elements(By.XPATH, '//*[@class="product-price"]')
    for i in price_tags:
        price_ = i.text
        price.append(price_)
    
    next_ = driver.find_element(By.XPATH, '//*[@class="pagination-next"]')
    next_.click()
    
    time.sleep(7)
    ibeta += 1

In [209]:
df = pd.DataFrame({'Brand': brand[0:100], 'Description':description[0:100], 'Price': price[0:100]})
df

,Brand,Description,Price
0,ALDO,Leather Party Block Sandals,Rs. 7699Rs. 10999(30% OFF)
1,ROSSO BRUNELLO,Men Solid Slip-on Formal Shoes,Rs. 11049Rs. 12999(15% OFF)
2,Clarks,Men Leather Boat Shoes,Rs. 6499
3,Saint G,,Rs. 8910Rs. 9900(10% OFF)
4,Saint G,Suede Leather Ankle Boots,Rs. 8010Rs. 8900(10% OFF)
...,...,...,...
95,Saint G,Women Leather Heeled Boots,Rs. 9900
96,Bugatti,Men Leather Loafers,Rs. 9499
97,FILA,Women Running Shoes,Rs. 10999
98,ADIDAS Originals,Men Retropy F90 Sneakers,Rs. 8499Rs. 9999(15% OFF)
99,FILA,Women Basketball Shoes,Rs. 10599

## 8. Amazon Laptops

In [219]:
driver = webdriver.Chrome(r"C:/Users/ACER/Downloads/chromedriver_win32/chromedriver.exe")

In [220]:
driver.get('https://www.amazon.in/')

In [223]:
search = driver.find_element(By.XPATH, '/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
search.send_keys('laptop')

In [224]:
search_link = driver.find_element(By.XPATH, '//*[@class="nav-search-submit nav-sprite"]')
search_link.click()

In [228]:
cpu_filter = driver.find_element(By.XPATH, '/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[5]/li[13]/span/a/span')
cpu_filter.click()

In [230]:
title = []
rating = []
price = []

In [231]:
title_tags = driver.find_elements(By.XPATH,'//*[@class="a-size-medium a-color-base a-text-normal"]')
for i in title_tags[0:10]:
    title_ = i.text
    title.append(title_)
    
rating_tags = driver.find_elements(By.XPATH,'//*[@class="a-icon-alt"]')
for i in rating_tags[0:10]:
    rating_ = i.text
    rating.append(rating_)
    
price_tags = driver.find_elements(By.XPATH,'//*[@class="a-price-whole"]')
for i in price_tags[0:10]:
    price_ = i.text
    price.append(price_)

In [232]:
df = pd.DataFrame({'Title': title, 'Rating':rating, 'Price': price})
df

                                               Title Rating     Price
0  ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, I...           77,990
1  Fujitsu UH-X 11th Gen Intel Core i7 13.3" FHD ...         1,00,000
2  ASUS Zenbook 13 OLED, 13.3-inch (33.78 cms) FH...           93,290
3  ASUS Vivobook 15, 15.6-inch (39.62 cms) FHD, I...           77,990
4  HP Pavilion x360 11th Gen Intel Core i7 14 inc...           80,990
5  Lenovo IdeaPad Slim 5 Intel Core i7 12th Gen 1...           79,990
6  Lenovo ThinkBook 15 Intel 11th Gen Core i7 15....           77,990
7  HP Pavilion Plus, 12th Gen Intel Core i7 16GB ...           86,990
8  Lenovo Yoga 7i 11th Gen Intel Core i7-1165G7 1...         1,11,000
9  Acer Nitro 5 Core i7 11th Gen 15.6" (39.62cms)...           89,990

## 10. Data Scientist Salary - Ambitionbox

In [233]:
driver = webdriver.Chrome(r"C:/Users/ACER/Downloads/chromedriver_win32/chromedriver.exe")

In [234]:
driver.get('https://www.ambitionbox.com/')

In [237]:
nav_link = driver.find_element(By.XPATH, '//*[@class="navItem"]')
nav_link.click()

In [ ]:
salary_link = driver.find_element(By.XPATH, '//*[@class="nameDescWrapper"]')
salary_link.click()

In [ ]:
designation = driver.find_element(By.XPATH, '/html/body/div[1]/div/div/div[2]/div/div/div/div[1]/span/input')
designation.send_keys('Data Scientist')

In [ ]:
search_link = driver.find_element(By.XPATH, '//*[@class="ctas-btn-medium"]')
search_link.click()

In [ ]:
company_name = []
total = []
avg = []
minimum = []
maximum = []
experience_required = []

In [ ]:
total_tags = driver.find_elements(By.XPATH,'//*[@class="designation-title"]')
for i in total_tags[0:10]:
    title = i.text
    total.append(title)
    
avg_tags = driver.find_elements(By.XPATH,'//*[@class="info-loc "]')
for i in avg_tags[0:10]:
    location = i.text
    avg.append(location)
    
name_tags = driver.find_elements(By.XPATH,'//*[@class="info-org"]')
for i in name_tags[0:10]:
    name = i.text
    company_name.append(name)
    
exp_tags = driver.find_elements(By.XPATH,'//*[@class="info-exp "]')
for i in exp_tags[0:10]:
    exp_required = i.text
    experience_required.append(exp_required)

min_tags = driver.find_elements(By.XPATH,'//*[@class="info-loc "]')
for i in min_tags[0:10]:
    location = i.text
    minimum.append(location)
    
max_tags = driver.find_elements(By.XPATH,'//*[@class="info-loc "]')
for i in max_tags[0:10]:
    location = i.text
    maximum.append(location)

In [ ]:
df = pd.DataFrame({'Company Name': company_name,'Total Salary': total, 'Average Salary':avg, 'Minimum Salary': minimum, 'Maximum Salary': maximum, 'Experience Required': exp_required })
df